<!DOCTYPE html>
<!--[if lte IE 9]><html lang="ko-KR" class="lte IE 9"><![endif]-->
<!--[! IE]><!--><html lang="ko-KR"><!--<[endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <title>Book O'Clock</title>
</head>
<body>

    <h1>Book O'Clock</h1>

    <!--상속된 페이지 연결: Hyperlink-->
    <p>
        <a href="/index.html">Main</a>
        <a href="/views/signin.html">Signup &amp; Signin</a>
        <a href="/views/aboutus.html">About Us</a>
        <a href="/views/user.html">User Page</a>
        <a href="/views/search.html">도서검색</a>
        <a href="/views/category.html">카드서랍</a>
        <a href="/views/stat.html">레벨열람</a>
    </p>

    <hr>

    <h2>책 읽는 시간</h2>

    <p>Signup $amp; Signin<br>
       가입 및 들어가기
    </p>

<!--아래에는 라쿤룰즈 로고 이미지 삽입-->




    <h3>귀차니스트를 위한 독서 기록 서비스</h3>

</body>
</html>