

html {
  font-size: 100%; /*12.8px*/
}

body {
  width: 80vmax;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  /*행간설정*/
  line-height: 1.5rem; /*19.2px*/
  background-image: url("../images/leading-24px-fix.png");
}

p {
  margin-bottom: 1.5rem;
}

img {
  vertical-align: top;
}

.small-caps {
  font-variant: small-caps;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}

/*
font 속기형 작성법
기본 작성법
font: size/line-height family;
*/

* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

.font-short-properties {
  font: 1.2rem/2rem Helvetica, Sans-Serif;
  font: italic 1.2rem/2rem Helvetica, Sans-Serif;
  font: bold 1.2rem/ 2rem Helvetica, Sans-Serif;
  font: sans-serif;
  font: ;
}


/*이미지 IR 테크닉 (이미지 대체 기법)*/

.brand-tweetle {
  overflow: hidden;
  /*display: block;*/
  width: 32px;
  height: 32px;
  background-image: url("https://cdn4.iconfinder.com/data/icons/tweetle/joe_tweetle_cool.png");
  background-repeat: no-repeat;
  /*text-indent: -9999em;*/
}

.brand-tweetle a {
  display: block;
}