@charset "utf-8";

@import url("colors.css");
@import "common.css";
@import url("grid.css");
@import url("layout.css");
@import url("old-ie.css");
@import url("print.css");

body {
  margin: 0;
}

article {
  border: 1px solid ##454545;
}
article h2 {
  font-weight: 100;
  color: #cf9662;
}
article img {
  margin-top: 100px;
  margin-bottom: 100px
}
article p {
  line-height: 30px;
  color: #4d4640;
}